<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>background</key>
		<string>#ffffff</string>
		<key>shadowColor</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#000000</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#3e99ed</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#73be56</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#fcca65</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#fb8d3f</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#eb4b59</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#cf156a</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#a11db7</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#ea0c22</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#eb868f</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#fed2d4</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#fedbb6</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#fec287</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#d18e4d</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#98643d</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#422324</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#1e492a</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#262626</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#363636</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#555555</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#737373</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#999999</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#b2b2b2</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#ffffff</string>
		<key>background</key>
		<string>#c7c7c7</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>background</key>
		<string>#dbdbdb</string>
	</dict>
	<dict>
		<key>textColor</key>
		<string>#000000</string>
		<key>background</key>
		<string>#efefef</string>
	</dict>
</array>
</plist>
