<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>无滤镜</string>
		<key>filterimg</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿宝</string>
		<key>filterimg</key>
		<string>lookup_AB</string>
	</dict>
	<dict>
		<key>name</key>
		<string>典雅</string>
		<key>filterimg</key>
		<string>lookup_3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>粉嫩</string>
		<key>filterimg</key>
		<string>lookup_kodak</string>
	</dict>
	<dict>
		<key>name</key>
		<string>复古</string>
		<key>filterimg</key>
		<string>lookup_Lord</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黑白</string>
		<key>filterimg</key>
		<string>lookup_playall</string>
	</dict>
	<dict>
		<key>name</key>
		<string>怀旧</string>
		<key>filterimg</key>
		<string>lookup_B</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可可</string>
		<key>filterimg</key>
		<string>lookup_Earlybird</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美艳</string>
		<key>filterimg</key>
		<string>lookup_Meiyan</string>
	</dict>
	<dict>
		<key>name</key>
		<string>晴朗</string>
		<key>filterimg</key>
		<string>lookup_4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柔光</string>
		<key>filterimg</key>
		<string>lookup_Nashville</string>
	</dict>
	<dict>
		<key>name</key>
		<string>唯美</string>
		<key>filterimg</key>
		<string>lookup_Nashville02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自然</string>
		<key>filterimg</key>
		<string>lookup_Fuji</string>
	</dict>
</array>
</plist>
